
svg.h2d3  {
  font: normal 13px 'Lato', 'Open sans', sans-serif;
}

.h2d3_axis path{
  fill: none;
  stroke-opacity: 0.75;
  shape-rendering: crispEdges;
}
.h2d3_ctrl_circle{
  fill:none;
  stroke-width: 2.5;  
}
.h2d3_ctrl_dot{
  fill:none;
}
.h2d3_grid{
  fill:none;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

/* d3-tip */
.h2d3-tip {
  font: normal 13px 'Lato', 'Open sans', sans-serif;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #333333;
  color: #DDDDDD;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.h2d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font:'Arial',sans-serif;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #333333;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.h2d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 90%;
  left: 0;
}


/* default style */
.h2d3_gridbg.default {
  display: none;
}
.h2d3_grid.default{
  stroke: #BBB;
}
.h2d3_axis.default path{  
  stroke: #222;  
}
.h2d3_ctrl_dot_selected.default{
  fill:#222;
}
.h2d3_ctrl_circle.default{  
  stroke: #222;
}

/* pastel style */
svg.h2d3.pastel{
  fill:#555;
}
.h2d3_gridbg.pastel {
  fill:#E4E3E2;
}
.h2d3_grid.pastel {
  stroke: #FFF;  
  stroke-width:1px;
}
.h2d3_axis.pastel path{  
  stroke: #555;  
}
.h2d3_ctrl_dot_selected.pastel{
  fill:#555;
}
.h2d3_ctrl_circle.pastel{  
  stroke: #555;
}

/* darkpastel style */
svg.h2d3.darkpastel{
  fill:#DDDDDD;
  background-color: #333333;
}
.h2d3_gridbg.darkpastel {
  display: none;
}
.h2d3_grid.darkpastel {
  stroke: #7E7E6E;  
  stroke-dasharray:5,5;  
}
.h2d3_axis.darkpastel path{  
  stroke: #DDDDDD;  
}
.h2d3_ctrl_dot_selected.darkpastel{
  fill:#DDDDDD;
}
.h2d3_ctrl_circle.darkpastel{  
  stroke: #DDDDDD;
  stroke-width: 1.0;
}
.h2d3-tip.darkpastel
{
  background: #F4F3F2;  
  color: #333333;
}
.h2d3-tip.darkpastel:after
{
  color: #F4F3F2;  
}
